.header-promo{
    min-height: 682px;
    background: url(../img/bg-tiendas.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    padding-bottom: 50px;
  
@include tablet{
    min-height: 100px;
    height: 80vh;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1{
    color:white;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.8px;
    font-weight: 400;
    @include tablet{
        margin-top:col(6,37);

        text-align: left;
        font-size: 42px;
        font-weight: 300;
    }
    @media only screen and (min-width:1400px){
        margin-top:25%;

    }
}
h2{
    color:white;
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.8px;
    font-weight: 400;
    margin-bottom: col(2,37);

    strong  {
        font-weight: 700;
    }
}
h3{
    font-weight: 400;
    color:$primary;
    font-weight: 24px;
}
div.contenidoprom{
    width: col(29,29);
    .datapromo{
        width: col(29,29);
        margin-right: col(2,29);
        float: left;
        text-align: left;
        @include tablet{
            width: col(11,29);


        }
       
        
        .beneficios{
            margin-top:20px;
          div.beneficio{
            .number{
                background-color:$primary;
                color:white;
                width: 26px;
                height: 26px;
                text-align: center;
                display: inline-block;
                padding-top:4px;
                border-radius: 50%;
                margin-right: 10px;
            }  p{
                margin-bottom: 10px;
                color:white;
                font-weight: 300;
                display: inline-block;
        }
    }
        }
    }
    .form-prom{
        width: col(29,29);
        float: right;
        padding: col(1,29);
        border-radius: 15px;
        margin-top: col(1.5,29);
        @include tablet{
            width: col(16,29);   
            background-color: white;
        }
        h4{
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        .btn-enviar{
           width: col(13,13);
           display: inline-block;
           background-color: $primary; 
           color:white;
           font-weight: 700;
           font-size: 18px;
           border-radius: 8px;
           padding-top: 5px;
           text-align: center;
           margin-top:10px;
           @include tablet{
            width: col(5,13);

           }
        }
        @include tablet{

            div.group-forms{
                margin-top: 10px;
                .correo{
                    width: col(7.5,13);
                    float: left;
                }
                .telefono{
                    display: inline-block;
                    margin-left: col(0.5,13);
                    width: col(5,13);
                }
                
                .rubro{
                    width: col(6.5,13);
                    float: left;
                }
                .productos{
                    display: inline-block;
                    margin-left: col(0.5,13);
                    width: col(6.0,13);
                }
            }
        }
       
    }
}}

.beneficiosmob{
    padding-top: col(4,35);
    padding-bottom: col(4,35);
    text-align: center;
    .beneficios{
    margin-top:20px;
    div.beneficio{
        margin-top: 20px;
      .number{
          color:$primary;
          text-align: center;
          padding-top:4px;
          border-radius: 50%;
          margin-right: 10px;
      }  p{
          margin-bottom: 10px;
          color:$gray;
          font-weight: 300;
          display: inline;
  }
}}}